.header {
    font-weight: 700;
    background-color: $black;
    padding: 1rem 0rem;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        img {
            width: 85px;
        }
    }
    &__nav {
        color: white;
        margin-top: 0rem;
        ul {
            display: flex;
            gap: 1.5rem;
            li {
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: 700;
                    color: white;
                    &:hover {
                        color: #00ffb7;
                    }
                }
            }
        }
    }
    .nuxt-link-exact-active {
        color: #00ffb7;
    }
    .nav__burguer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .burguer__button {
        cursor: pointer;
        img {
            width: 30px;
        }
    }
    .noshow {
        display: none;
    }
}

@media (max-width: $breakpoint-tablet) {
    .header {
        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__logo {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &__nav {
            color: white;
            margin-top: 2.5rem;
            ul {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                li {
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        font-weight: 700;
                        color: white;
                        &:hover {
                            color: #00ffb7;
                        }
                    }
                }
            }
        }
    }
    .nav__burguer {
        display: flex;
        justify-content: center;
    }
}
