$vh-index: 90vh;

.background-image {
    height: $vh-index;
    background: url(~/assets/images/Fondo2.png);
    background-size: cover;
    opacity: 0.8;
    filter: blur(1px);
}

.background_video {
    height: $vh-index;
    min-height: 650px;
}

#myVideo {
    object-fit: cover;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.colcha-title {
    width: 100%;
    height: $vh-index;
    min-height: 650px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
}

.colcha-title a {
    z-index: 1;
}

.colcha-img {
    display: flex;
    justify-content: center;
}


@media (max-width: $breakpoint-tablet) {
    .colcha-img img {
        width: 80%;
    }
    }