.slider {
    font-family: 'Merriweather', serif;
    background-color: yellowgreen;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    p {
        font-size: 5rem;
    }
}

/* .slider__text {
    
} */