.interna__container {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.interna__title {
    
    h1 {
        color: $white;
        font-family: 'Nunito';
        font-size: 5rem;
        font-weight: 700;
        font-style: italic;
    }
    p {
        
        color: $white;
        font-weight: 300;
        font-size: 2rem;
        margin: 1rem 0rem;
    }
}

.interna__historia {
    padding: 3rem 0rem;
    h2 {
        padding: 2rem 0rem;
        color: $white;
        font-size: 2.5rem;
        font-weight: 300;
        font-style: italic;
    }
    p {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.8;
        color: $white;
    }
}

.interna__fotos {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    img {
        max-width: 100%;
    }
}

.interna__podcast {
    padding: 2rem 0rem;
}