
.slider-logos {
    background-color: $white;
    display: flex;
    
    filter: grayscale(500);
    padding: 3rem 1rem;
}

.logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}