.player__container {
    background-color: $black;
    height: 45vw;
}

@media only screen and (max-width: $breakpoint-tablet) {
    .player__container {
        background-color: $black;
        height: 60vw;
    }
}