.container__colcha {
    color: $white;
}

.colcha__nombres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.colcha__title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.colcha__enlaces {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.colcha__enlaces h2 {
    padding: 1rem 2rem;
    font-size: 3rem;
}

.colcha__enlaces h2 a{
    text-decoration: none;  
    color: rgba(255, 255, 255, 0.349);
}

.colcha__enlaces h2 a:hover{   
    color: $hover;
}


.colcha__enlaces h2 span{
    font-size: 1.2rem;
}

